:root {
  --color-text: #20283a;
  --color-background: #f5f7fb;
  --color-text-muted: #5b6475;
  --color-text-subtle: #788194;
  --color-primary: #5b67d8;
  --color-link: #3946be;
  --color-link-hover: #222d92;
  --color-border: #e1e5ed;
}
